// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables.scss';

.activities__detail.home__activities {
	margin: 0;
	background-color: white;
	padding-top: 10px;
}

.guide__profile {
	padding: 40px 0;
	background-color: rgba(44, 80, 152, 0.1);
	.name {
		font-size: 30px;
		text-align: center;
		margin-top: 20px;
		color: $purple;
		font-weight: 900;
		letter-spacing: -1px;
	}
	.copy {
		text-align: center;
	}
}

.activity__info {
	margin: 30px 0;

	.guide__image {
		text-align: center;
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	p {
		font-size: 16px;
		padding-right: 20px;
	}

	.pay {
		display: inline-block;
		width: 100%;
		margin-bottom: 60px;
	}

	.epayco-button-render {
		margin-top: 20px;
		&:hover {
			opacity: .7;
		}
	}

	.d, i {
		font-weight: 900;
	}

	i {
		color: $purple;
	}
}

.activities__detail {
	@at-root &__header {
		position: relative;
		.name {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			color: white;
			font-size: 80px;
			font-weight: 900;
			letter-spacing: -2px;
			background-color: rgba(black, .4);
			text-shadow: 1px 1px 1px rgba(black, .9);
			margin: 0;
		}
		img {
			width: 100%;
			max-height: 500px;
			object-fit: cover;
		}
	}
}

.home {
	@at-root &__activities {
		margin-top: 40px;
		background-color: rgba(black, .05);
		padding: 40px 0;
		h2 {
			font-weight: 900;
			letter-spacing: -1px;
			font-size: 22px;
			margin-bottom: 20px;
		}
	}

	@at-root &__activity {
		color: gray;
		&:hover {
			text-decoration: none;
		}
		img {
			width: 100%;
			min-height: 400px;
			object-fit: cover;
		}

		.price, .name {
			font-weight: 900;
			font-size: 16px;
			letter-spacing: -1px;
		}

		.price {
			margin-top: 10px;
			display: inline-block;
		}

		.description {
			margin-top: 10px;
		}
	}
}