// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
	@at-root &__activities {
		margin-top: 40px;
		background-color: rgba(black, .05);
		padding: 40px 0;
		h2 {
			font-weight: 900;
			letter-spacing: -1px;
			font-size: 22px;
			margin-bottom: 20px;
		}
	}

	@at-root &__activity {
		color: gray;
		&:hover {
			text-decoration: none;
		}
		img {
			width: 100%;
			min-height: 400px;
			object-fit: cover;
		}

		.price, .name {
			font-weight: 900;
			font-size: 16px;
			letter-spacing: -1px;
		}

		.price {
			margin-top: 10px;
			display: inline-block;
		}

		.description {
			margin-top: 10px;
		}
	}
}