@import 'variables.scss';

body.site {
	color: rgba($gray, .5);
	font-family: $titleFont;
}

.purple {
	color: $purple;
}

.bg-danger {
	display: none;
}

.close {
	margin-top: -10px !important;
}

.home {
	@at-root &-copy {
		text-align: center;
		padding: 0 180px;
		margin-bottom: 60px;
		font-size: 28px;
		letter-spacing: -1px;
		margin-top: 60px;
		span {
			font-weight: 900;
			color: $purple;
		}
	}
	@at-root &__cities {
		margin: 20px 0;
	}

	@at-root &__city {
		position: relative;
		padding: 0 !important;
		img {
			width: 100%;
			min-height: 400px;
			object-fit: cover;
		}
		h1 {
			font-size: 18px !important;
			font-weight: 900;
			position: absolute;
			text-align: center;
			margin-top: 10px;
			width: 100%;
			font-size: 16px;
			margin-left: 5px;
			letter-spacing: -1px;
		}
		@at-root &__info {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba($purple, .7);
			display: none;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: white;
			span {
				font-weight: 900;
				padding: 0 20px;
				text-transform: uppercase;
			}
			&.active {
				display: flex;
			}
			i {
				position: absolute;
				top: 35%;
				font-size: 80px;
				display: none;
			}
			&.selected {
				display: flex;
				i {
					display: block;
				}
				span {
					display: none;
				}
			}
		}

		input[type="radio"] {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 2;
		}
	}
}

.home {
	@at-root &__languages {
		display: block;
		justify-content: center;
		flex-wrap: wrap;
		padding: 60px 0;
		text-align: center;
	}
	@at-root &__language__wrapper {
		width: 100%;
		display: block;
		padding-top: 20px;
	}
	@at-root &__language {
		position: relative;
		margin: 30px 20px;
		width: 40px;
		transition: all .2s ease-in;
		display: inline-block;
		h2 {
			font-size: 19px;
			font-weight: 900;
		}
		&:hover {
			opacity: .7;
		}
		img {
			width: 100%;
		}
		label {
			display: none;
		}
		input[type="radio"] {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			&:hover {
				cursor: pointer;
			}
		}
		@at-root &__info {
			position: absolute;
			width: 100%;
			height: 28px;
			background-color: rgba(44, 80, 152, 0.7);
			display: none;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: white;
			top: 0;
			i {
				font-size: 20px;
			}
			&.active {
				display: flex;
			}
		}
	}
}

.header {
	display: flex;
	align-items: center;
	padding: 20px;
	position: relative;
	box-shadow: 2px 2px 1px #ccc;
	@at-root &__logo {
		&:hover {
			text-decoration: none;
			opacity: .8;
		}
	}
	span {
		font-size: 46px;
		font-weight: 900;
		letter-spacing: -1px;
		color: $purple;
		position: relative;
		top: 8px;
		left: 4px;
	}
	img {
		width: 60px;
		position: relative;
		bottom: 6px;
	}
	@at-root &__nav {
		position: absolute;
		right: 20px;
		ul {
			margin: 0;
		}
		li {
			display: inline-block;
			&:last-child {
				padding-left: 10px;
			}
			a {
				color: $gray;
				font-weight: bold;
			}
		}
	}
}

.action {
	@at-root &__join {
		background-color: $purple;
		color: white !important;
		padding: 15px;
		border-radius: 5px;
		min-width: 100px;
		border: 0;
		font-weight: 900;
	}
}