.how-it-works {
	margin-top: 40px;
	h2 {
		margin-bottom: 60px;
		text-align: center;
		letter-spacing: -1px;
		font-weight: 900;
	}
	.hiw__item {
		text-align: center;
		h4 {
			letter-spacing: -1px;
			font-weight: 900;
		}
		img {
			width: 50%;
		}
	}
}