<footer>
	<div class="container">
	<div class="row">
		<span class="col-sm-12 col-md-4">© Logui 2017.</span>
		<ul class="col-sm-12 col-md-8 text-right">
			<li><a href="">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="">
				<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			<li>
				<a href="">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	</div>
</footer>