<header class="header">
	<div class="header__logo">
		<%= link_to "", root_path %>
	</div>
	<nav class="header__nav">
		<ul>
			<li><a href="">Log In</a></li>
			<li><a class="action__join" href="">Become a Guide</a></li>
		</ul>
	</nav>
</header>